<% layout('boilerplate') -%>

    <h1>WELCOME TO ALL CAMPGROUNDS</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, ea est cupiditate maiores deserunt placeat
        aperiam? Quae illo quo, illum id explicabo quaerat officia maxime eligendi, autem, ab earum nihil.</p>

    <a class="btn btn-primary" href="/campgrounds">GO HERE TO SEE ALL CAMPGROUNDS</a>