<% layout('boilerplate') -%>
<link rel="stylesheet" href="../static/home.css">
<div class="container">
  <div class="group">
    <h1 class="h1">WELCOME TO <br>YELPCAMP</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, ea est cupiditate maiores deserunt placeat
      aperiam? <br>Quae illo quo, illum id explicabo quaerat officia maxime eligendi, autem, ab earum nihil.</p>

    <a class="btn btn-outline-light" href="/campgrounds">GO HERE TO SEE ALL CAMPGROUNDS</a>
  </div>
</div>
<script>
  document.querySelector(".navbar").classList.replace("navbar-light", "navbar-dark")
</script>