<% layout('boilerplate') -%>
<link rel="stylesheet" href="/static/login.css">
<div class="container-sm">
  <h1>Welcome back</h1>
  <form method="POST" action="/user/login">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="username" name="username">
      <!-- <div id="usernameHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="mb-3">
      <p>You don't have the account? <a href="/user/register">Create one now!</a></p>
    </div>
</div>
</form>

<script>
  document.querySelector(".navbar").classList.replace("navbar-light", "navbar-dark")
</script>