* {
    /* z-index: 2; */
    color: white;
}

#bodyClass {
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: unset;
    background-image: url("./background.avif") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#bodyClass::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}


.navbar {
    background-color: unset !important;
    border-bottom: 1px solid wheat;
}

.navbar ul,
.navbar ul a,
#navbarDropdown {
    text-align: left;
}

.navbar a,
.navbar .container-fluid button span {
    color: white !important;
}

.dropdown-menu li a {
    color: black !important;
}

.h1 {
    font-size: 3em !important;

}

.container .btn {
    transition: 0.6s ease;


}


.container .btn:hover {
    border-radius: 40px !important;
}