* {
    font-family: 'Inter', sans-serif;

}

.dropdown-menu[data-bs-popper] {
    width: fit-content;
    right: 0;
    left: unset;
}

@media only screen and (max-width: 992px) {
    .dropdown-menu[data-bs-popper] {
        right: unset;
        left: 0 !important;
    }
}

#map {
    height: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 15px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

}